[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = ">=20.0"
Flask = ">=2.0.0"
pytz = "*"
Werkzeug = "==2.2.3"
apscheduler = "==3.10.4"
httpx = "*"
gunicorn = "==21.2.0"
hypercorn = "==0.14.4"
aiohttp = "~=3.8.5"

[requires]
python_version = "3.11" # Change to your python version if different.
